#fund {
    overflow: hidden;

    .text h1 {
        display: none;
    }

    @media screen and (min-width: 1400px) {
        height: 100vh !important;
    }

    @media only screen and(min-device-width: 1024px) {
        padding-top: 0;
        height: auto;

        .title-box { 
            display: none;
        }

        .content .text {
            border: 7px solid black;
            //border-top: none;
            padding: calc(2 * 1em);
            margin: 0 0 0 calc(2 * 1em);

            h1 {
                display: block;
            }
        }

    }

    .img-container {
        width: 140%;
        height: 300px;
        margin-left: -30%;
        .img {
            background: url(assets/img/red-ferrari.jpg) right fixed no-repeat;
            background-size: cover;
            width: 100%;
            height: 147%;
        }

        @media only screen and(min-device-width: 1024px) {
            width: 130%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            //margin-top: 172px;

        }
    }

    p strong {
        font-weight: 900;
        font-size: 1.8em;
    }

    ul {
        padding-left: $padding-2 !important;
    }
}