
#hero {
    background: url(assets/img/hero-bg.jpg) top no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100vw;
    position: relative;

    @media only screen and(min-device-width: 1024px) {
        display: flex;
        align-items: center;
        height: 100vh;
    }

    .title {
        height: 120%;
        width: 100%;
        display: grid;
        grid-template-rows: 60% 20% 20% 10%;
        padding: calc(1 * 1em);
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60%;
        left: 0;
       

        @media only screen and(min-device-width: 768px) {
            padding: $padding-4;
            grid-template-rows: 60% 30% 15% 5%;
        }

        @media only screen and(min-device-width: 1024px) {
            grid-template-rows: 90% 10%;
            width: auto;
            height: auto;
            position: unset;
            background: white;
            opacity: 0.9;
            padding: calc(1 * 1em);
            box-shadow: 0px 0px 8px rgba( 0, 0, 0, 0.25);
        }

        @media (min-width: 1281px) {
            width: auto;
            height: auto;
            opacity: unset;
          }

        .logo {
            width: 85%;
            margin: auto;

            @media only screen and(min-device-width: 1024px) {
                width: auto;
                height: auto;
                margin: unset;
            }
            
            img {
                height: 100%;
                width: 100%;
                //border-top-left-radius: 100px;
                box-shadow: 0px 0px 8px rgba( 0, 0, 0, 0.25);

                @media only screen and(min-device-width: 1024px) {
                    box-shadow: none;
                }
            }
        }

        .motto {
            display: flex;
            justify-content: center;
            align-items: top;
            font-weight: 900;
            font-size: 1.25em;
            color: gray;
            font-family: 'Josefin Sans', sans-serif; 
            text-transform: uppercase;
            span {
                color: #953440;
                font-weight: 900;
            }
        }

        .scroll {
            width: 20px;
            height: 50px;
            margin: auto;

            @media (min-width: 768px) and (max-width: 1024px) {
  
                margin-top: 50px;
                
            }

            @media only screen and(min-device-width: 1024px) {
                display: none;
            }


            .img {
                background: url(assets/icon/scroll.png) top no-repeat;
                background-size: cover;
                height: 100%;
                width: 100%;
            }
        }

        .sub-contact {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1em;
            width: 100%;
            margin: auto;

            @media only screen and(min-device-width: 1024px) {
                display: none;
            }


            h3 {
                font-size: 0.6em;

                @media (min-width: 768px) and (max-width: 1024px) {
  
                    font-size: 1em;

                  }
            }
        }
    
        .phone {
            display: inline-grid;
            grid-template-columns: 20% 53%;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
        
            .img {
                background: url(assets/icon/phone.svg) top left no-repeat;
                background-size: cover;
                width: 20px;
                height: 20px;

                @media (min-width: 768px) and (max-width: 1024px) {
  
                    width: 30px;
                    height: 30px;

                  }
            }
        }
    
        .mail {
            display: inline-grid;
            grid-template-columns: 20% 53%;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            .img {
                background: url(assets/icon/mail.svg) top left no-repeat;
                background-size: cover;
                width: 25px;
                height: 25px;

                @media (min-width: 768px) and (max-width: 1024px) {
  
                    width: 35px;
                    height: 35px;

                  }
            }
        }

    }
}