// Global Padding
$padding-1: calc(1 * 1em);
$padding-2: calc(2 * 1em);  
$padding-4: calc(4 * 1em);

body {
    width: 100vw;
    margin: 0;
    padding: 0;

    @media only screen and(min-device-width: 1024px) {
        overflow-x: hidden;
    }
}

section {
    width: 100%;

    padding: $padding-2;
    margin-bottom: calc(1 * 1em);

    @media only screen and(min-device-width: 768px) {
        padding: $padding-4;
    }
}

a {
    cursor: pointer;
}

a.alta {
    text-decoration: underline !important;
    color: gray !important;
}

.title-box {
    border: 6px solid black;
    border-left: none;
    margin-left: -30%;
    padding-left: 30%;
    background: rgba(255,255,255, 0.7);
    box-shadow: 0px 0px 8px rgba( 0, 0, 0, 0.25);
}

.quoter {
    position: fixed;
    left: 0;
    top: 4%;
    z-index: 1;
    padding: 0 calc(2 * 1em);
    color: white;
    border: 2px solid white;
    border-left: none;
    font-size: 0.8em;
    background: rgba(149, 52, 64, 0.7);
    border-top-right-radius: 46px;
    line-height: 0;
    box-shadow: 0px 0px 8px rgba( 0, 0, 0, 0.25);
    .phone {
        display: inline-grid;
        grid-template-columns: 15% 85%;
        align-items: center;
        width: 100%;
    
        .img {
            background: url(assets/icon/phone-white.svg) top left no-repeat;
            background-size: cover;
            width: 20px;
            height: 20px;
        }
    }
}

.content p:first-of-type {
    margin-top: calc(4 * 1em);
}

footer {
    height: 80px;
    background: black;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.6em;
    a {
        font-size: 0.8em;
        color: white;
        border-bottom: 1px solid white;
    }
}

.enquire {
    width: 70px;
    height: 70px;
    position: fixed;
    top: 87%;
    right: calc(1 * 1em);
    background: rgba(232, 236, 241, 0.6);
    padding: 8px;
    z-index: 75;
    border-radius: 100px;
    text-align: center;
    box-shadow: 0px 0px 8px rgba( 0, 0, 0, 0.25);

    @media only screen and(min-device-width: 768px) {
        top: 90%;
        right: calc(1.5 * 1em);
    }

    @media only screen and(min-device-width: 1024px) {

        top: 80%;
        right: calc(2.5 * 1em);

    }

    .img {

        background: url(assets/icon/enquire.svg) top left no-repeat;
        background-size: contain;
        height: 60%;
        width: 60%;
        margin-top: -10px;
        margin: auto;
    }
    span {
        font-size: 0.4em;
        margin-top: 5px;
        color: #953440;

        @media only screen and(min-device-width: 1024px) {
            font-size: 0.4em;
    
        }
    
    }
}

a.enquire::after {
    display: none;
}