button {
    flex: 1 1 auto;
    margin: 10px 0;
    padding: 8px 36px;
    //border: 2px solid #000;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow:hidden;
    transition: .3s;
    background: white;
    font-family: 'Archivo Black', sans-serif;
    &:after {
      position: absolute;
      transition: .3s;
      content: '';
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: black;
    }
    &:nth-of-type(1):after {
      left: 0;
      bottom: auto;
      top: -3px;
      width: 100%;
    }
    &:nth-of-type(5):after {
      height: 120%;
      left: -10%;
      transform: skewX(15deg);
      z-index: -1;
    }
    &:hover {
      cursor: pointer;
      &:after {
        width: 100%;
        left: 0;
      }
      &:nth-of-type(1):after {
        top: calc(100% - 3px);
      }
    }
  }